{% extends "app/layout1.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">SMARTS</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for group in object_list %}
      <tr>
        <td><a href="{% url 'FunctionalGroup_Detail' group.pk %}" /> {{ group.Name }} </td>
        <td><a href="{% url 'FunctionalGroup_Detail' group.pk %}" /> {{ group.Smarts }}</td>
        <td><img class="img-fluid" src="../{{ group.Image.url }}" alt="{{ object.Name }}"></td>
        <td><a class="btn btn-primary" href="{% url 'FunctionalGroup_Update' group.pk %}">Edit</a></td>
        <td><a class="btn btn-primary" href="{% url 'FunctionalGroup_Delete' group.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}