<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <title>Sustainable Chemistry</title>
  {{ form.media.css }}

</head>

<body>
    <div class="container-fluid">
        <div nav class="navbar navbar-fixed-top navbar-expand fixed-top lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Sustainable Chemistry</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>            
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'FunctionalGroup_List' %}">Functional Groups<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'NamedReaction_List' %}">Reactions <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Reference_List' %}">References <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
     
    <div class="container">
        <div id="fix-for-navbar-fixed-top-spacing" style="height: 42px;">&nbsp;</div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="container">
                    {% url 'FunctionalGroup_List' as groups %}
                    {% url 'NamedReaction_List' as rxns %}
                    {% url 'Reference_List' as refs %}
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == groups %} active {% endif %}" href="{% url 'FunctionalGroup_List' %}" >Functional Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == rxns %} active {% endif %}" href="{% url 'NamedReaction_List' %}" >Named Reactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == refs %} active {% endif %}" href="{% url 'Reference_List' %}" >References</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-10">
                <div class="container body-content">
                    {% block content %}{% endblock %}
                    <hr />
                </div>
            </div>
        </div>

        <footer>
            <p>This is a work of the U.S. Government and is not subject to copyright protection in the United States.</p>
        </footer>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    {{ form.media.js }}
</body>

</html>