{% extends "app/layout1.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Functional Group</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for reaction in object_list %}
      <tr>
        <td><a href="{% url 'FunctionalGroup_Detail' reaction.pk %}" /> {{ reaction.Functional_Group }} </td>
        <td><a href="{% url 'NamedReaction_Detail' reaction.pk %}" /> {{ reaction.Name }}</td>
        <td><img class="img-fluid" src="../{{ reaction.Image.url }}" alt="{{ reaction.Name }}" /></td>
        <td><a class="btn btn-primary" href="{% url 'NamedReaction_Update' reaction.pk %}">Edit</a></td>
        <td><a class="btn btn-primary" href="{% url 'NamedReaction_Delete' reaction.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}