{% extends "app/layout.html" %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="table-responsive">
        <!--Table-->
        <table class="table">
            <!--Table head-->
            <thead>
                <!--Table head-->
                <!--Table body-->
            </thead>
            <tbody>
                <!--Table body-->
                <tr>
                    <td class="col-md-3"><strong>Name:</strong></td>
                    <td class="col-md-9">{{ object.Name }}</td>
                </tr>
                <tr>
                    <td class="col-md-3"><strong>Functional Group:</strong></td>
                    <td class="col-md-9">{{ object.Functional_Group }}</td>
                </tr>
                {% for reactant in object.Reactants.all %}
                <tr>
                    <td class="col-md-3"><strong>Reactants:</strong></td>
                    <td class="col-md-9">{{ reactant.Name }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="col-md-3"><strong>Products:</strong></td>
                    <td class="col-md-9">{{ object.Product }}</td>
                </tr>
                <tr>
                    <td class="col-md-3"><strong>By Products:</strong></td>
                    <td class="col-md-9">{{ object.ByProducts }}</td>
                </tr>
                {% for reactant in object.ByProd.all %}
                <tr>
                    <td class="col-md-3"><strong>By Products:</strong></td>
                    <td class="col-md-9">{{ reactant.Name }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="col-md-3"><strong>Solvent:</strong></td>
                    <td class="col-md-9">{{ object.Solv}}</td>
                </tr>
                <tr>
                    <td class="col-md-3"><strong>Catalyst:</strong></td>
                    <td class="col-md-9">{{ object.Catal }}</td>
                </tr>
                <tr>
                    <td class="col-md-3"><strong>Acid/Base Conditions:</strong></td>
                    <td class="col-md-9">{{ object.get_Temp2_display }}</td>
                </tr>
                <tr>
                    <td class="col-md-3"><strong>Heated:</strong></td>
                    <td class="col-md-9">{{ object.get_Temp_display }}</td>
                </tr>
                <tr>
                    <td class="col-md-3"><strong>Image:</strong></td>
                    <td><img class="img-responsive" src="../{{ object.Image.url }}" alt="{{ object.Name }}" /></td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary" href="{% url 'NamedReaction_List' %}">Return to Named Reaction List</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary" href="{% url 'NamedReaction_Update' object.pk %}">Edit</a>
        </div>
    </div>
</form>
{% endblock %}