{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3"><strong>NAME:</strong></div>
    <div class="col-md-9">{{ object.Name }}</div>
</div>
<div class="row">
    <div class="col-md-3"><strong>Functional Group:</strong></div>
    <div class="col-md-9">{{ object.Functional_Group }}</div>
</div>
{% for reactant in object.Reactants.all %}
<div class="row">
    <div class="col-md-3"><strong>Reactants:</strong></div>
    <div class="col-md-9">{{ reactant.Name }}</div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-3"><strong>RIS Data:</strong></div>
    <div class="col-md-9">{{ object.RISData }}</div>
</div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary" href="{% url 'Reference_List' %}">Return to Reference List</a>
    </div>
    <div class="col-md-1">
        <a class="btn btn-primary" href="{% url 'Reference_Update' object.pk %}">Edit</a>
    </div>
</div>
{% endblock %}