<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Sustainable Chemistry" Language="1033" Version="1.0.0.0" Manufacturer="U.S. Environmental Protection Agency" UpgradeCode="71a670d5-4df0-4b26-8336-dd0a7b026c34">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id='1' Cabinet='product.cab' EmbedCab='yes'/>
    <Feature Id="ProductFeature" Title="SustainableChemistrySetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="C_CommonAssemblies" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="APPDATAFOLDER_Permissions" />
      <ComponentGroupRef Id="SQLiteData" />
      <ComponentGroupRef Id="SQLLiteInteropX86" />
      <ComponentGroupRef Id="SQLLiteInteropX64" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SustainableChemistry">
          <Directory Id="X86" Name="x86" />
          <Directory Id="X64" Name="x64" />
        </Directory>
        <Directory Id="CommonAppDataFolder">
          <Directory Id="APPDATAFOLDER" Name="SustainableChemistry">
            <Directory Id="DATAFOLDER" Name="Data" />
            <Directory Id="IMAGEFOLDER" Name="Images" />
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder" Name="Programs">
          <Directory Id="ApplicationProgramsFolder" Name="USEPA"/>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="APPDATAFOLDER">
      <Component Id="APPDATAFOLDER_Permissions" Guid="284E711F-9896-4873-9D8D-34CBE4997EFC">
        <CreateFolder>
          <util:PermissionEx User="Users" GenericAll="yes"/>
        </CreateFolder>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent" Guid = "F9B8B4DE-002C-44EA-A103-35E779303FF6">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetPath)" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistry" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="ChemInfoComponent" Guid= "1E248393-0740-4B1B-8E52-7F5631C3C9FA">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.ChemInfo.TargetPath)" />
        <RemoveFolder Id="ProgramFilesFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistry" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="ANTLR" Guid = "CDF2E61D-55F8-4E4D-B864-8EBAE2CF9DB3">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)Antlr4.Runtime.Standard.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistryANTLR" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="OpenDoc" Guid = "B363D006-4A83-430F-B4BA-D363E97589C8">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)DocumentFormat.OpenXml.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistryOpenDoc" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="EntityFramework" Guid = "CB826BDD-2B7A-4490-96A6-93EF76EF034C">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)EntityFramework.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistryEntityFramework" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="EntityFrameworkSQL" Guid = "451FDBA6-5ED4-4A5F-B2C1-333901B56171">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)EntityFramework.SqlServer.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistryEntityFrameworkSQL" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="NewtonSoftJSON" Guid = "90E82ADD-4FB7-45CF-AD79-6178058667D6">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)Newtonsoft.Json.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistryNewtonSoftJSON" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="SQLLite" Guid = "20402149-5DF9-42B6-94BD-E9C472223B73">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)System.Data.SQLite.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistrySQLLite" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="SQLLiteEF6" Guid = "07144712-603D-4265-A4B3-0D3DA1AAECCD">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)System.Data.SQLite.EF6.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistrySQLLiteEF6" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="SQLLiteLinq" Guid = "AC479B2F-3BA1-4080-875B-334EA0769CD0">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.SustainableChemistry.TargetDir)System.Data.SQLite.Linq.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistrySQLLiteLinq" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>   
    <ComponentGroup Id="SQLLiteInteropX86" Directory="X86">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="SQLLiteInterop86" Guid = "5AA08244-BDB5-471D-B70E-81C73B7394CB">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Id="SQLLiteInterop86File" Source="$(var.SustainableChemistry.TargetDir)x86\SQLite.Interop.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistrySQLLiteInteropX86" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>    
    <ComponentGroup Id="SQLLiteInteropX64" Directory="X64">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="SQLLiteInterop64" Guid = "BEC43024-292E-4375-93D8-DFF24135693F">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Id="SQLLiteInterop64File" Source="$(var.SustainableChemistry.TargetDir)x64\SQLite.Interop.dll" />
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistrySQLLiteInteropX64" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="SQLiteData" Directory="DATAFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="SustainableChemistryData" Guid = "980D33EB-7DA5-413D-ADF9-976E40E47473">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.ProjectDir)..\..\Data\SustainableChemistry.sqlite" />
        <RemoveFolder Id="DATAFOLDER" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistry" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="284AA4D9-DBB3-44D2-82EF-608066BC9D39">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Sustainable Chemistry"
                  Description="Chemical Informatics for sustainable chemistry."
                  Target="[#$(var.SustainableChemistry.TargetFileName)]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\USEPA\SustainableChemistry" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
