<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpD6493198A480101FF6F82F7174D09A71" Guid="*">
                <File Id="filEB8D53A8C23631C31D5D803F4B315074" KeyPath="yes" Source="$(var.SourceDir)\Antlr4.Runtime.Standard.dll" />
            </Component>
            <Component Id="cmp7579314D119F9AA82A56DB5B48D96387" Guid="*">
                <File Id="filF083FBA9E1B413F9052109BEA67B7EF7" KeyPath="yes" Source="$(var.SourceDir)\ChemInfo.dll" />
            </Component>
            <Component Id="cmpD6D2DAB297C67AEA18A21A00ECBDDE8C" Guid="*">
                <File Id="fil1696654C29461C7A5FFFD05ECCFBBD17" KeyPath="yes" Source="$(var.SourceDir)\ChemInfo.pdb" />
            </Component>
            <Component Id="cmp8E0BA9345D6467C6CE87127468E2DA60" Guid="*">
                <File Id="fil425B2C707904C74CBB8D3C690296B481" KeyPath="yes" Source="$(var.SourceDir)\DocumentFormat.OpenXml.dll" />
            </Component>
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Guid="*">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.SourceDir)\EntityFramework.dll" />
            </Component>
            <Component Id="cmpB8E7B130B6B78399B39307530A3D65B2" Guid="*">
                <File Id="fil55247FAD2E00E96001D9F9C3E501E9FA" KeyPath="yes" Source="$(var.SourceDir)\EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="cmp1C32DF6EBEEAD687F69A7B2D8FFFBD18" Guid="*">
                <File Id="fil6E9DF61023BE66CF989D548F4D60F217" KeyPath="yes" Source="$(var.SourceDir)\MyDatabase.sqlite" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp22E746D6F416E29CB766C7D18764B4B9" Guid="*">
                <File Id="filCDAFB89F0B81C3E6CC5A00DBBB38E11F" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.pdb" />
            </Component>
            <Component Id="cmpB9A9A52951D09D2EEEDE5110618D86A0" Guid="*">
                <File Id="filF95EC319F639989F1D06BCBC5DBB70D7" KeyPath="yes" Source="$(var.SourceDir)\references.dat" />
            </Component>
            <Component Id="cmp241D4BCAF5D303BE84B5240DDB9C6E61" Guid="*">
                <File Id="fil2F0C9708158320557C14DF837EDE4A7B" KeyPath="yes" Source="$(var.SourceDir)\Resources.resx" />
            </Component>
            <Component Id="cmp9207181032CCD50DD2C9DDC51F2704A0" Guid="*">
                <File Id="fil57E00426A425A291BDEA36571907844F" KeyPath="yes" Source="$(var.SourceDir)\SustainableChemistry.exe" />
            </Component>
            <Component Id="cmp966BD1308FC0E885E6BB1059214F8619" Guid="*">
                <File Id="filF17FF6D396D0112B89A46AD059817A5A" KeyPath="yes" Source="$(var.SourceDir)\SustainableChemistry.exe.config" />
            </Component>
            <Component Id="cmp5D2E89710E29EB75DC84E5C5CB6E0E53" Guid="*">
                <File Id="filE7AD1CE005745E7CEBEBE81731524019" KeyPath="yes" Source="$(var.SourceDir)\SustainableChemistry.pdb" />
            </Component>
            <Component Id="cmpA1A7761BCC25DC14D3C6CA6B73F5D4FB" Guid="*">
                <File Id="filC4F16D8E5D5AA3EEC364880D462AE3E3" KeyPath="yes" Source="$(var.SourceDir)\SustainableChemistry.vshost.exe" />
            </Component>
            <Component Id="cmpAA38E9A82A1EB1A9BBFA8999527D06D9" Guid="*">
                <File Id="fil6DD82DCCFCBFDE9F622E275897D531E9" KeyPath="yes" Source="$(var.SourceDir)\SustainableChemistry.vshost.exe.config" />
            </Component>
            <Component Id="cmp25CD128BFC3C3FDAFDE45D057E6BB7C8" Guid="*">
                <File Id="fil2A520BD47E98072442710CADB7509D3A" KeyPath="yes" Source="$(var.SourceDir)\SustainableChemistry.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Guid="*">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.SourceDir)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpF0779F15EC19A57BE1B2F861D7DE696E" Guid="*">
                <File Id="filFCD462E7D1690B3E0A1EC55BB1B7FE6B" KeyPath="yes" Source="$(var.SourceDir)\System.Data.SQLite.EF6.dll" />
            </Component>
            <Component Id="cmp7CD8A031D36A447486DB78F3F83272E7" Guid="*">
                <File Id="fil78A6DA4FA512268ADE24A0CEB59C1442" KeyPath="yes" Source="$(var.SourceDir)\System.Data.SQLite.Linq.dll" />
            </Component>
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64">
                <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Guid="*">
                    <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="$(var.SourceDir)\x64\SQLite.Interop.dll" />
                </Component>
            </Directory>
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86">
                <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Guid="*">
                    <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="$(var.SourceDir)\x86\SQLite.Interop.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SustChemAssemblies">
            <ComponentRef Id="cmpD6493198A480101FF6F82F7174D09A71" />
            <ComponentRef Id="cmp7579314D119F9AA82A56DB5B48D96387" />
            <ComponentRef Id="cmpD6D2DAB297C67AEA18A21A00ECBDDE8C" />
            <ComponentRef Id="cmp8E0BA9345D6467C6CE87127468E2DA60" />
            <ComponentRef Id="cmp0BFABD100B4065787B40AA6B05938DF7" />
            <ComponentRef Id="cmpB8E7B130B6B78399B39307530A3D65B2" />
            <ComponentRef Id="cmp1C32DF6EBEEAD687F69A7B2D8FFFBD18" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp22E746D6F416E29CB766C7D18764B4B9" />
            <ComponentRef Id="cmpB9A9A52951D09D2EEEDE5110618D86A0" />
            <ComponentRef Id="cmp241D4BCAF5D303BE84B5240DDB9C6E61" />
            <ComponentRef Id="cmp9207181032CCD50DD2C9DDC51F2704A0" />
            <ComponentRef Id="cmp966BD1308FC0E885E6BB1059214F8619" />
            <ComponentRef Id="cmp5D2E89710E29EB75DC84E5C5CB6E0E53" />
            <ComponentRef Id="cmpA1A7761BCC25DC14D3C6CA6B73F5D4FB" />
            <ComponentRef Id="cmpAA38E9A82A1EB1A9BBFA8999527D06D9" />
            <ComponentRef Id="cmp25CD128BFC3C3FDAFDE45D057E6BB7C8" />
            <ComponentRef Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" />
            <ComponentRef Id="cmpF0779F15EC19A57BE1B2F861D7DE696E" />
            <ComponentRef Id="cmp7CD8A031D36A447486DB78F3F83272E7" />
            <ComponentRef Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" />
            <ComponentRef Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" />
        </ComponentGroup>
    </Fragment>
</Wix>