################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SustainableChemistry/SustainableChemistry/Data/Reactions.txt
/SustainableChemistry/SustainableChemistry/Data/Full Functional Groups.txt
/SustainableChemistry/SustainableChemistry/Data/sqlite3.exe
