@model SustainableChemistryWeb.ViewModels.NamedReactionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AppNamedreaction</h4>
<hr />
@using (Html.BeginForm("Create", "NamedReactions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunctionalGroupId" class="control-label"></label>
                <select asp-for="FunctionalGroupId" class="form-control chosen-select" asp-items="ViewBag.FunctionalGroupId"></select>
                <span asp-validation-for="FunctionalGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppNamedreactionReactants" class="control-label">Reactants</label>
                <select name="reactants" data-placeholder="Choose the Reactants..." class="form-control chosen-select" multiple asp-items="ViewBag.Reactants"></select>
                <span asp-validation-for="AppNamedreactionReactants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppNamedreactionByProducts" class="control-label">ByProducts</label>
                <select name="byProducts" data-placeholder="Choose the ByProducts..." class="form-control chosen-select" multiple asp-items="ViewBag.ByProducts"></select>
                <span asp-validation-for="AppNamedreactionByProducts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" />
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heat" class="control-label">Heat</label>
                <select asp-for="Heat" class="form-control chosen-select" asp-items="ViewBag.HeatList"></select>
                <span asp-validation-for="Heat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcidBase" class="control-label">Acid/Base Conditions</label>
                <select asp-for="AcidBase" class="form-control chosen-select" asp-items="ViewBag.AcidBaseList"></select>
                <span asp-validation-for="AcidBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalystId" class="control-label">Catalyst</label>
                <select asp-for="CatalystId" class="form-control chosen-select" asp-items="ViewBag.CatalystID"></select>
                <span asp-validation-for="CatalystId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolventId" class="control-label">Solvent</label>
                <select asp-for="SolventId" class="form-control chosen-select" asp-items="ViewBag.SolventId"></select>
                <span asp-validation-for="SolventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}