@model SustainableChemistryWeb.Models.AppNamedreaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Named Reaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactantA" class="control-label"></label>
                <input asp-for="ReactantA" class="form-control" />
                <span asp-validation-for="ReactantA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactantB" class="control-label"></label>
                <input asp-for="ReactantB" class="form-control" />
                <span asp-validation-for="ReactantB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactantC" class="control-label"></label>
                <input asp-for="ReactantC" class="form-control" />
                <span asp-validation-for="ReactantC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" />
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heat" class="control-label"></label>
                <input asp-for="Heat" class="form-control" />
                <span asp-validation-for="Heat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcidBase" class="control-label"></label>
                <input asp-for="AcidBase" class="form-control" />
                <span asp-validation-for="AcidBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunctionalGroupId" class="control-label">FunctionalGroup</label>
                <select asp-for="FunctionalGroupId" class="form-control" asp-items="ViewBag.FunctionalGroupId"></select>
                <span asp-validation-for="FunctionalGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalystId" class="control-label">Catalyst</label>
                <select asp-for="CatalystId" class="form-control" asp-items="ViewBag.CatalystID"></select>
                <span asp-validation-for="CatalystId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolventId" class="control-label">Solvent</label>
                <select asp-for="SolventId" class="form-control" asp-items="ViewBag.SolventId"></select>
                <span asp-validation-for="SolventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <img src="~/@Model.Image" />
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
