@{
    ViewData["Title"] = "About";
}
<h3><a asp-controller="Home" asp-action="Index">Sustainable Chemistry Expert Framework</a>  - @ViewData["Title"]</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div>
        <p>
            The Sustainable Chemistry Synthesis Expert Framework allows users to qualitatively evaluate synthesis routes for a chemical to identify potential
            improvements in the sustainability of the chemical manufacturing process and reduce the number of materials needed for production. This information can
            then be used to develop initial on approaches for sustainable chemistry, sustainable molecular design guidance and rapid life cycle inventory generation.
        </p>
        <p>
            Sustainable chemistry aims to improve the design of chemicals to preserve their desired efficacy of function while reducing their potential for toxicity and detrimental
            impact to the environment. The goal of this task is to develop a Sustainable Chemistry Synthesis Expert Framework that captures the expertise gained by EPA&apos;s Green
            Chemistry and Engineering researchers over the past 20 years. Subsequently, green chemistry expertise from the open literature will be added. Initially, this framework
            is developed using a set of chemicals identified as alternatives to an identified chemical of concern (e.g., brominated flame retardants). Upon successful
            generation of the first version of the framework, additional groups of chemicals (families) will be added to expand the library and complexity of the framework.
        </p>
        <p>
            The purpose of this project is to develop a web service that can (1) identify chemical functional groups present in an identified molecule, (2) provide an overview of
            environmental impacts associated with the formation of these functional groups in the chemical manufacturing process, and (3) provide links to the chemical literature
            related to environmentally friendly alternate synthesis routes. The project has several objectives:
        </p>
        <ul style="list-style-type:disc">
            <li>Create a Chemical Informatics Class Library that provides a model of atoms, chemical bonds, and molecules.</li>
            <li>Identify algorithms for finding rings of atoms in chemical molecules and identify functional groups based on atom types and connectivity.</li>
            <li>Develop proper classes and methods within the Chemical Informatics Class Library to implement the above algorithms.</li>
            <li>Create and maintain a database of chemical functional groups and reactions based on these functional groups.</li>
            <li>Develop a Web Service layer to allow the EPA&apos;s Comptox Chemicals Dashboard to access the class library and database.</li>
            <li>Develop a web-based application for maintaining the functional group and reaction database.</li>
            <li>
                Provide links to other tabs (within TEST or the upcoming Alternatives Assessment Dashboard) for the literature-based synthesis routes and guidance on improvements
                to make them greener/more sustainable.
            </li>
            <li>Provide links to external web-based portals to the chemistry literature to allow users to further research manufacturing options for the chemical of interest.</li>
        </ul>
        <h2>References</h2>
        <ul>
            <li>
                <a href="https://doi.org/10.1021/acssuschemeng.8b05983" target="_newtab">Barrett, W. M.; Takkellapati, S.; Tadele, K.; Martin, T. M.; Gonzalez, M. A., Linking Molecular Structure via Functional Group to Chemical Literature for Establishing a Reaction Lineage for Application to Alternatives Assessment. ACS Sustainable Chemistry & Engineering 2019, 7 (8), 7630-7641.</a>
            </li>
            <li>
                <a href="https://doi.org/10.1021/acssuschemeng.8b06038" target="_newtab">Gonzalez, M. A.; Takkellapati, S.; Tadele, K.; Li, T.; Varma, R. S., Framework toward More Sustainable Chemical Synthesis Design—A Case Study of Organophosphates. ACS Sustainable Chemistry & Engineering 2019, 7 (7), 6744-6757.</a>
            </li>
            <li>
                <a href="https://doi.org/10.1021/acssuschemeng.7b03379" target="_newtab">Mittal, V. K.; Bailin, S. C.; Gonzalez, M. A.; Meyer, D. E.; Barrett, W. M.; Smith, R. L., Toward Automated Inventory Modeling in Life Cycle Assessment: The Utility of Semantic Data Modeling to Predict Real-World Chemical Production. ACS Sustainable Chemistry & Engineering 2018, 6 (2), 1961-1976.</a>
            </li>
        </ul>
        <p> </p>
        <p> </p>
    </div>
    <div>
        <h2>Disclaimer</h2>
        <p>
            The United States Environmental Protection Agency (EPA) GitHub project code is provided on an "as is" basis and the user assumes responsibility for its use.
            EPA has relinquished control of the information and no longer has responsibility to protect the integrity , confidentiality, or availability of the information.
            Any reference to specific commercial products, processes, or services by service mark, trademark, manufacturer, or otherwise, does not constitute or imply their
            endorsement, recommendation or favoring by EPA. The EPA seal and logo shall not be used in any manner to imply endorsement of any commercial product or activity
            by EPA or the United States Government.
        </p>
    </div>
    <div>
        <partial name="_LoginPartial" />
    </div>
}