@model List<SustainableChemistryWeb.Controllers.AppFunctionalgroupDTO>

@{
    ViewData["Title"] = "Functional Groups";
}

<h2>
    SMILES: @ViewData["Smiles"]</h2>

<ul>
    @foreach (var item in @Model)
    {
        <li>@item.Name</li>
    }
</ul>