@model IEnumerable<SustainableChemistryWeb.Controllers.AppFunctionalgroupDTO>

@{
    ViewData["Title"] = "Functional Groups";
}

<h1>FunctionalGroups</h1>

<ul>
    @foreach (var item in Model)
    {
    <li>@Html.DisplayFor(modelItem => item.Name)</li>
    }
</ul>