@model List<SustainableChemistryWeb.Controllers.AppFunctionalgroupDTO>

@{
    ViewData["Title"] = "Functional Groups";
}

<h1>
    Functional Groups for Compound with SMILES: @ViewData["Smiles"]</h1>

<ul>
    @foreach (var item in @Model)
    {
        <li>@item.Name</li>
    }
</ul>