@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2>
            Sustainable Chemistry Expert Framework
        </h2>
        <p>
            The Sustainable Chemistry Expert Framework provides information related to chemical reactions that may be used to synthesize the desired chemical compound. 
            The chemical reactions are determined based upon the named reactions that can be used to create a specific class of chemicals based upon the funcitonal groups 
            present in the compound. The reactants in the reactions form a chemical lineage with can be used to determine the parent compounds required to manufacture the desired compound. 
            A chemical's lineage can be used to evaluate the manufacturing phase of a chemical's life cycle.
        </p>
        <p>
            Enter the chemical name, CAS Number, or structural SMILE string below to conduct an evaluation. See <a asp-action="About">About</a> for more information.
        </p>
        @if (@ViewBag.ErrorMessage != null)
        {
            <p>
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            </p>
        }
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                       name="SmilesSearchString"
                       placeholder="Enter the CAS Number, Name, or SMILES string for the molecule you want to find" />
                <div class="input-group-append">
                    <button asp-controller="FunctionalGroups" asp-action="Index" class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
}
