@model SustainableChemistryWeb.ViewModels.ReferenceCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create new Reference for Named Reaction</h1>
<p>Use the inputs below to create a new reference for the desired named reaction. Named reactions are grouped by product functional group.</p>
@using (Html.BeginForm("Create", "References", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label asp-for="ReactionId" class="control-label">Named Reaction:</label>
                <select asp-for="ReactionId" class="form-control chosen-select" asp-items="ViewBag.Reaction"></select>
            </div>
        </div>
        <p>Please select the Named Reaction for the product Functional Group from the drop down list above.</p>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="RISFile" class="control-label">RIS File:</label>
            <input asp-for="RISFile" class="form-control" type="file" />
            <span asp-validation-for="RISFile" class="text-danger"></span>
        </div>
        <p>
            An RIS data file can be typically be downloaded from the reference's publisher. Please download the citation
            in RIS format, and include the abstract the reference, if possible. The RIS file will then be processed by
            the application to create the reference.
        </p>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-2" />
        <div class="col-md-3">
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
