@model SustainableChemistryWeb.ViewModels.ReferenceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppReference</h4>
<hr />
@using (Html.BeginForm("Edit", "References", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FunctionalGroupId" class="control-label"></label>
                <select asp-for="FunctionalGroupId" class="form-control chosen-select" asp-items="ViewBag.FunctionalGroup"></select>
                <span asp-validation-for="FunctionalGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactionId" class="control-label"></label>
                <select asp-for="ReactionId" class="form-control chosen-select" asp-items="ViewBag.Reaction"></select>
                <span asp-validation-for="Reaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RISFile" class="control-label">RIS Date File</label>
                <input asp-for="RISFile" class="form-control" type="file" />
                <span asp-validation-for="RISFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
