@model SustainableChemistryWeb.ViewModels.ReferenceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit the Reference for the current Named Reaction.</h1>
<hr />
@using (Html.BeginForm("Edit", "References", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <label asp-for="ReactionId" class="control-label">Named Reaction:</label>
            <select asp-for="ReactionId" class="form-control chosen-select" asp-items="ViewBag.Reaction"></select>
            <span asp-validation-for="Reaction" class="text-danger"></span>
        </div>
    </div>
    <p>Change the Named Reaction by selecting the desired Named Reaction for the product Functional Group from the drop down list above.</p>

    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="RISFile" class="control-label">RIS Date File</label>
            <input asp-for="RISFile" class="form-control" type="file" />
            <span asp-validation-for="RISFile" class="text-danger"></span>
        </div>
    </div>
    @Html.DisplayFor(model => model.Text)
</div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-2" />
        <div class="col-md-3">
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}