@page
@model SustainableChemistryWeb.Views.Solvents.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Solvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Solvent.Id" />
            <div class="form-group">
                <label asp-for="Solvent.Description" class="control-label"></label>
                <input asp-for="Solvent.Description" class="form-control" />
                <span asp-validation-for="Solvent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solvent.Name" class="control-label"></label>
                <input asp-for="Solvent.Name" class="form-control" />
                <span asp-validation-for="Solvent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solvent.OwnerID" class="control-label"></label>
                <input asp-for="Solvent.OwnerID" class="form-control" />
                <span asp-validation-for="Solvent.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solvent.Status" class="control-label"></label>
                <select asp-for="Solvent.Status" class="form-control"></select>
                <span asp-validation-for="Solvent.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
